# Mots de passe pour MariaDB
SQL_DATABASE=wordpress
SQL_USER=tcarlier
SQL_PASSWORD=mot_de_passe
SQL_ROOT_PASSWORD=root_password

# Variables pour WordPress
DOMAIN_NAME=tcarlier.42.fr
WP_TITLE=Inception
WP_ADMIN_USER=tcarlier_admin
WP_ADMIN_PASSWORD=admin_password
WP_ADMIN_EMAIL=admin@tcarlier.42.fr
WP_USER=tcarlier_user
WP_USER_PASSWORD=user_password
WP_USER_EMAIL=user@tcarlier.42.fr