# Mots de passe pour MariaDB
SQL_DATABASE=wordpress
SQL_USER=username
SQL_PASSWORD=mot_de_passe
SQL_ROOT_PASSWORD=root_password

# Variables pour WordPress
DOMAIN_NAME=domain_name
WP_TITLE=Inception
WP_ADMIN_USER=username
WP_ADMIN_PASSWORD=password
WP_ADMIN_EMAIL=admin@domain_name.42.fr
WP_USER=username
WP_USER_PASSWORD=password
WP_USER_EMAIL=user@domain_name.42.fr